
body{
    font-family: monospace;
    height: 100vh;
    background-image: url(bc24b2dd54aeb8d2cb19593a6fef29f0.gif);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container{
    border-color: rgb(214, 154, 187);
    width: 950px;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 25px;
    font-size: 13px;
    color: rgb(255, 252, 252);
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 6px;
    border-style: inset;
    background-color:rgba(92, 97, 158, 0.555);
    background-image: url(1ca5ba6ee4774c4a595b2a859bc7c8e3.gif);
    background-size: 150px;
    background-position: bottom;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
}

